# Titanic Competition - Machine Learning from Disaster

![image](https://cdn.activestate.com/wp-content/uploads/2021/05/kaggle-titanic-challenge.jpg)

### Imports
- RandomForestClassifier as our predict model.
- train_test_split to divide our dataset in to arrays one to test and another to trainnig

In [1]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import numpy as np 
import pandas as pd 
import os


print(f'Imports successfully loaded')

Imports successfully loaded

In [2]:
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

#### Imports DataFrame 
- gender_submission
- test
- train

In [3]:
train = pd.read_csv("../input/titanic/train.csv")
test = pd.read_csv("../input/titanic/test.csv")
gender_submission = pd.read_csv("../input/titanic/gender_submission.csv")

print(f'Dataframes successfully converted')

Dataframes successfully converted


### Analyzing training data

In [4]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Creating Model e using RandomForest

In [5]:
model = RandomForestClassifier(n_estimators=100, n_jobs=-1, random_state=0)

print(f'Modal successfully set')

Modal successfully set

### Fuction to create binary values for sex

In [6]:
def transform_sex(value):
    if value == 'female':
        return 1
    else:
        return 0

### Creating a new column applying the function transform_sex

In [7]:
train['Sex_binary'] = train['Sex'].map(transform_sex)

### Check the new column sex_binary

In [8]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_binary
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0


### Defining the model variables

In [9]:
var = ['Sex_binary', 'Age']

### The X will be our input var to trainnig our model and the y will be the output what will want to predict

In [10]:
X = train[var]
y = train['Survived']

### Check df X and y

In [11]:
X.head()

   Sex_binary   Age
0           0  22.0
1           1  38.0
2           1  26.0
3           1  35.0
4           0  35.0

In [12]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

### The model can't work with NAN values so let's treat filling with -1

In [13]:
X = X.fillna(-1)

### Creating the model that recive X and y. What you want to analyse and predict

In [14]:
model.fit(X, y)

RandomForestClassifier(n_jobs=-1, random_state=0)

### Applying the function transform_sex to test df

In [15]:
test['Sex_binary'] = test['Sex'].map(transform_sex)

In [16]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_binary
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,1

### Creating x_predict and treat de null values

In [17]:
x_predict= test[var]
x_predict = x_predict.fillna(-1)
x_predict.head()

   Sex_binary   Age
0           0  34.5
1           1  47.0
2           0  62.0
3           0  27.0
4           1  22.0

### Applying method predict to the variables x_predict

In [18]:
p = model.predict(x_predict)

### The array p is showing who survived and who doesn't - our prediction

In [19]:
p

array([0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0])

### Creating df sub to submit to analyse into kaggle. But, we need to match the order and index to our df, but we need to change the PassengerId name to Survived

In [20]:
sub = pd.Series(p, index=test['PassengerId'], name='Survived')

sub.shape

(418,)

### Convert to_csv

In [21]:
sub.to_csv('first_model.csv', header=True)

### Check the first 10 lines first_model.csv

In [22]:
!head -10 first_model.csv

PassengerId,Survived
892,0
893,1
894,0
895,1
896,1
897,0
898,1
899,0
900,1

1. Trainnig
2. Validation
3. Test

In [23]:
np.random.seed(0)
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.5)

In [24]:
X_train.head()

     Sex_binary   Age
213           0  30.0
586           0  47.0
499           0  24.0
821           0  27.0
246           1  25.0

### Creating new datasets by split the data to trainning our model.

In [25]:
X_train.shape, X_valid.shape, y_train.shape, y_valid.shape

((445, 2), (446, 2), (445,), (446,))

In [26]:
model.fit(X_train, y_train)

RandomForestClassifier(n_jobs=-1, random_state=0)

In [27]:
p = model.predict(X_valid)

### Validated the data

In [28]:
y_valid == p

495     True
648     True
278    False
31      True
255     True
       ...
327     True
827     True
102     True
625     True
108     True
Name: Survived, Length: 446, dtype: bool

### Check the accuracy

In [29]:
np.mean(y_valid == p)

0.7690582959641256